html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}
.pageContentWrapper{
  margin-bottom:120px;/* Height of footer*/
} 
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:60px;
    background-color: #1b1e21;
	text-align: center;
}

.navbar {
	margin-bottom: 80px;
}

.bg-custom {
	background-color: #ddd!important;
}

.dropdown {
	margin-right: 15px;
}

.dropdown-menu {
	min-width: 0;
	max-width: 100%;
}

.dropdown-item {
	padding: 0;
}

.index-btns {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

table, tbody, td, th {
text-align: center;
}

list-group-item .btn-danger .btn-success {
		float:right;
		text-align:right;
    }
	
.message {
background:#cef6ce;
color:#088a08;
}
.message.error {
background:#f5a9a9;
color:#610b0b;
}
